.containers {
  /* margin-top: 30px; */
  background-color: #000;
}

.card {
  background-color: #1f1e1e;
  color: #fff;
  border: none;
}

.card-wrapper {
  width: 270px;
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1f1e1e;
}

.card {
  width: 100%;
}

@media (max-width: 600px) {
  .card-wrapper {
    width: 100%;
    /* height: 400px; */
  }

  .card {
    width: 100%;
    height: 400px;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
    height: 350px;
  }
}
