.containers {
  background-color: #000;
}

.card {
  background-color: #1f1e1e !important;
  border: none !important;
  width: 100%;
}

.card-wrapper {
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1f1e1e;
  transition: all 1s;
}

.card-wrapper:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.card-title {
  height: 26px;
  color: #fff;
  font-size: 16px !important;
}

@media (max-width: 600px) {
  .card-wrapper {
    width: 100%;
  }

  .card {
    width: 100%;
    height: 400px;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
  }
}
