.search {
  /* display: flex; */
  background-color: #000;
}

.input > .form-control {
  background-color: #1f1e1e;
  border: none;
  color: #fff;
}

.btn {
  height: 37px;
}

@media (max-width: 700px) {
  .search > form {
    width: 100% !important;
  }
}
